@model Project

@{
    ViewBag.Title = "Delete Project";
}

<div class="container child">
    <div class="content-container">
        <div class="container-fluid">
            <img class="text-center" src="~/img/Remove.svg" style="padding-left:50px">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Are you sure you want to delete this project?</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h4 class="card-title">@Model.Name</h4>
                        <img src="~/img/warning.svg">
                        <h3 class="text-danger">WARNING!</h3>
                        <div class="text-danger">Deleting a Project will also delete his Tasks and Resources.</div>
                    </p>
                </div>
                <div class="card-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Name)
                        @Html.HiddenFor(model => model.Description)
                        <input type="submit" value="Delete Project" class="btn btn-primary" />
                        <a class="btn btn-primary"
                           asp-action="CreateProject" asp-controller="Admin">
                            Back to List
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
