@page
@model ProjectSupport.Areas.Identity.Pages.Account.DemoModel

@{
    ViewData["Title"] = "Demo Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<form method="post">
    <div class="text-center">
        <h6>Choose a Demo account to Sign In</h6>
    </div>
    <div class="row">
        &nbsp
    </div>
    <ul>
        <li>
            <input asp-for="@Model.Input1.IsSelected" type="checkbox" id="cb1" class="cb" onchange="cbChange(this)" />
            <label class="form-check-label" asp-for="@Model.Input1.IsSelected" for="cb1">
                <img src="~/img/2.png" />
            </label>
            <h5 class="text-center">Admin</h5>
        </li>

        <li>
            <input asp-for="@Model.Input2.IsSelected" type="checkbox" id="cb2" class="cb" onchange="cbChange(this)" />
            <label class="form-check-label" asp-for="@Model.Input2.IsSelected" for="cb2">
                <img src="~/img/1.png" />
            </label>
            <h5 class="text-center">Manager</h5>
        </li>

        <li>
            <input asp-for="@Model.Input3.IsSelected" type="checkbox" id="cb3" class="cb" onchange="cbChange(this)" />
            <label class="form-check-label" asp-for="@Model.Input3.IsSelected" for="cb3">
                <img src="~/img/3.png" />
            </label>
            <h5 class="text-center">Developer</h5>
        </li>
    </ul>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-demo">Log in</button>
    </div>
    <div class="row">
        &nbsp
    </div>
    <div class="text-center">
        <h6>Have an account? <a type="text/asp" href='/Identity/Account/Login'>Sign In</a></h6>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles
{
    <link rel="stylesheet" href="~/css/CheckBox.css" />
}

