@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="col-md-10 offset-md-1">
    <section>
        <div class="login-form-icon">
            <i class="fas fa-user-circle fa-9x text-secondary"></i>
        </div>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            <div class="text-center">
                <p>Forgot your <a id="forgot-password" asp-page="./ForgotPassword">Password?</a></p>
            </div>
            <div class="text-center">
                <h6>Sign in with a <a type="text/asp" href='/Identity/Account/Demo'>Demo Account</a></h6>
            </div>
            <hr />
        </form>
        @if (Model.ExternalLogins != null)
        {
            <div class="text-center">
                <h6>Or Sign in using</h6>
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            <div class="row">
                                @foreach (var provider in Model.ExternalLogins)
                                {

                                    if (provider.Name == "Google")
                                    {
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-block btn-google" value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account" name="provider">

                                                <i class="fab fa-google-plus fa-align-left social-icon" style=""></i>
                                            </button>
                                        </div>
                                    }
                                    else if (provider.Name == "Facebook")
                                    {
                                        <div class="col-md-6">
                                            <button class="btn-block btn btn-facebook" type="submit" value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account" name="provider">

                                                <i class="fab fa-facebook fa-align-left social-icon"></i>
                                            </button>
                                        </div>
                                    }

                                }
                            </div>
                        </p>
                    </div>
                </form>
            </div>
        }
        </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
