@model ProjectSupport.ViewModels.EditProjectViewModel

@using Microsoft.AspNetCore.Identity
@using ProjectSupport.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewBag.Title = "Edit";
}

<div class="container child">
    <div class="content-container">
        <div class="container-fluid">

            <img class="text-center" src="~/img/EditTask.svg" style="padding-left:75px">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Project</h4>
                        </div>
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Project.Id)
                            @Html.HiddenFor(model => model.UserId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Project.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Project.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Project.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Project.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Project.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Project.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn btn-primary"
                               asp-action="SeeProjects" asp-controller="Manager" asp-route-id="@UserManager.GetUserId(User)">
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>