@model int

@using Microsoft.AspNetCore.Identity
@using ProjectSupport.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<div class="container child">
    <div class="content-container">
        <div class="container-fluid">
            <img class="text-center" src="~/img/ProjectActions.svg">

            <div class="card-group text-center" style="padding-left:100px">
                <div class="card">
                    <img class="card-img-top h-25" src="~/img/admin1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Add Task</h5>
                        <p class="card-text">This page is only visible to the Manager and he can use it to create a Task in the current Project.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary"
                           asp-action="AddTask" asp-controller="Gantt" asp-route-id="@Model" asp-route-user="@UserManager.GetUserId(User)">
                            Add Task
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top h-25" src="~/img/admin3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Edit Task</h5>
                        <p class="card-text">The Manager can use this page to remove a Task or edit the name, start date or end date of a Task.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary"
                           asp-action="SeeTasks" asp-controller="Gantt" asp-route-id="@Model" asp-route-user="@UserManager.GetUserId(User)">
                            Edit Task
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top h-25" src="~/img/admin2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Manage Resources</h5>
                        <p class="card-text">This page is only visible to the Manager and he can use it to manage the resources of each Task. </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary"
                           asp-action="ManageResources" asp-controller="Gantt" asp-route-id="@Model" asp-route-user="@UserManager.GetUserId(User)">
                            Manage Resources
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top h-25" src="~/img/admin1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Add Dependencies</h5>
                        <p class="card-text">The Manager can use this page to add or remove dependencies between Tasks.</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary"
                           asp-action="EditDependencies" asp-controller="Gantt" asp-route-id="@Model" asp-route-user="@UserManager.GetUserId(User)">
                            Add Dependencies
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>