@model ProjectSupport.ViewModels.EditTaskViewModel

@using Microsoft.AspNetCore.Identity
@using ProjectSupport.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewBag.Title = "Edit Progress";
}

<div class="container child">
    <div class="content-container">
        <div class="container-fluid">

            <img class="text-center" src="~/img/EditTask.svg" style="padding-left:75px">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit Progress</h4>
                        </div>
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Task.Id)
                            @Html.HiddenFor(model => model.Task.ProjectId)
                            @Html.HiddenFor(model => model.UserId)
                            @Html.HiddenFor(model => model.Task.StartDate)
                            @Html.HiddenFor(model => model.Task.EndDate)
                            @Html.HiddenFor(model => model.Task.Duration)
                            @Html.HiddenFor(model => model.Task.Name)
                            @Html.HiddenFor(model => model.Task)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Task.Progress, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="text-center">
                                    @Html.EditorFor(model => model.Task.Progress, new { htmlAttributes = new { @class = "form-control-range", type = "range", oninput = "this.nextElementSibling.value = this.value" } })
                                    <output>@Model.Task.Progress</output>
                                    @Html.ValidationMessageFor(model => model.Task.Progress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn btn-primary"
                               asp-action="DeveloperTasks" asp-controller="Gantt" asp-route-id="@Model.Task.ProjectId" asp-route-user="@UserManager.GetUserId(User)">
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>