@model List<ProjectSupport.ViewModels.ProjectIndexViewModel>

@using Microsoft.AspNetCore.Identity
@using ProjectSupport.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewBag.Title = "Projects";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container child2">
    <div class="content-container">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h1>Projects</h1>
                </div>
                <div class="card-body">
                    <div class="col-4 p-0 justify-content-end">
                        <form asp-controller="Gantt" asp-action="Index" method="get">
                            <span class="btn-group">
                                <input class="form-control" type="text" name="SearchText" placeholder="Search Name">
                                <input class="p-1 ml-2 btn btn-sm btn-primary" type="submit" value="Search" />
                            </span>
                        </form>
                    </div>
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>
                                <th>Description</th>
                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                                {
                                    <th>Actions</th>
                                }
                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Developer"))
                                {
                                    <th>Actions</th>
                                }
                                <th>Gantt</th>
                                <th>Details</th>
                                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Developer") || User.IsInRole("Manager")))
                                {
                                    <th>Chat</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in Model)
                            {
                            <tr>
                                <td>@project.Project.Name</td>
                                <td>@project.Project.Description</td>
                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Manager"))
                                {
                                    if (project.IsManager == true)
                                    {
                                        <td style="padding-left: 15px">
                                            <a class="btn"
                                               asp-action="Actions" asp-controller="Gantt" asp-route-id="@project.Project.Id" asp-route-user="@UserManager.GetUserId(User)">
                                                <i class="fas fa-edit" style="font-size:24px;color:blue"></i>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="padding-left: 15px">
                                            <div class="btn">
                                                <i class="fas fa-edit" style="font-size:24px;color:grey"></i>
                                            </div>
                                        </td>
                                    }
                                }
                                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Developer"))
                                {
                                    if (project.IsManager == true)
                                    {
                                        <td style="padding-left: 5px">
                                            <a class="btn"
                                               asp-action="DeveloperTasks" asp-controller="Gantt" asp-route-id="@project.Project.Id" asp-route-user="@UserManager.GetUserId(User)">
                                                <i class="fas fa-edit" style="font-size:24px;color:blue"></i>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="padding-left: 5px">
                                            <div class="btn">
                                                <i class="fas fa-edit" style="font-size:24px;color:grey"></i>
                                            </div>
                                        </td>
                                    }
                                }
                                <td style="padding-left: 5px">
                                    <a class="btn"
                                       asp-action="Gantt" asp-controller="Gantt" asp-route-id="@project.Project.Id">
                                        <i class="fas fa-project-diagram" style="font-size:24px;color:blue"></i>
                                    </a>
                                </td>
                                <td style="padding-left: 20px">
                                    <a class="btn"
                                       asp-action="Details" asp-controller="Gantt" asp-route-id="@project.Project.Id">
                                        <i class="fas fa-info" style="font-size:24px;color:blue"></i>
                                    </a>
                                </td>
                                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Developer") || User.IsInRole("Manager")))
                                {
                                    if (project.IsManager == true)
                                    {
                                        <td style="padding-left: 5px">
                                            <a class="btn"
                                               asp-action="Index" asp-controller="Chat" asp-route-id="@project.Project.Id">
                                                <i class="fas fa-comment" style="font-size:24px;color:blue"></i>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="padding-left: 5px">
                                            <div class="btn">
                                                <i class="fas fa-comment" style="font-size:24px;color:grey"></i>
                                            </div>
                                        </td>
                                    }
                                }


                            </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <div class="container">
                        @if (pager.TotalPages > 0)
                        {
                            <ul class="pagination">
                                @if (pager.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-controller="Gantt" asp-action="Index" asp-route-pg="1">First</a>
                                    </li>
                                    <li>
                                        <a class="page-link" asp-controller="Gantt" asp-action="Index" asp-route-pg="@(pager.CurrentPage -1)">Previous</a>
                                    </li>
                                }

                                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                {
                                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                        <a class="page-link" asp-controller="Gantt" asp-action="Index" asp-route-pg="@pge"> @pge </a>
                                    </li>
                                }

                                @if (pager.CurrentPage < pager.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-controller="Gantt" asp-action="Index" asp-route-pg="@(pager.CurrentPage + 1)">Next</a>
                                    </li>
                                    <li>
                                        <a class="page-link" asp-controller="Gantt" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>