@model ProjectSupport.ViewModels.EditTaskViewModel

@using Microsoft.AspNetCore.Identity
@using ProjectSupport.Areas.Identity.Data

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewBag.Title = "Delete User";
}

<div class="container child">
    <div class="content-container">
        <div class="container-fluid">
            <img class="text-center" src="~/img/Remove.svg" style="padding-left:50px">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Are you sure you want to delete this task?</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <h4 class="card-title">@Model.Task.Name</h4>
                    </p>
                </div>
                <div class="card-footer">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Task.ProjectId)
                        @Html.HiddenFor(model => model.Task.Id)
                        @Html.HiddenFor(model => model.UserId)
                        <input type="submit" value="Delete Task" class="btn btn-primary" />
                        <a class="btn btn-primary"
                           asp-action="SeeTasks" asp-controller="Gantt" asp-route-id="@Model.Task.ProjectId" asp-route-user="@UserManager.GetUserId(User)">
                            Back to List
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>